body {
	margin-top: 40px;
	padding: 0;
	height: 100v;
	background-color: #d3dbe8;
}

#container {
	justify-content: center;
	margin: 50px 150px 0 150px;
	padding: 10px;
	width: 1000px;
	height: 500px;
	background-color: yellow;
	background-image: url('./images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border: 10px inset;
}

#letterBox {
	width: 300px;
	/*border: 2px solid green;*/
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 300px;
	left: 600px;
	justify-content: space-around;
	font-size: 20px;
}

.letters {
	width: 50px;
	height: 20px;
	margin: 1px;
	border: 1px solid black;
	background-color: #a996ff;
	padding: 1px;
	font-size: 20px;
	font-weight: 900px;
	text-align: center;
	border-radius: 10%;
}

#hangman {
	position: absolute;
	top: 210px;
	left: 110px;
	padding-left: 100px;
	transform: scale(1.2);
	transform: rotate(6deg);
}

#letterdash {
	width: 300px;
	height: 30px;
	display: flex;
	position: absolute;
	top: 190px;
	left: 600px;
	justify-content: center;
}

.spaces {
	width: 30px;
	margin: 1px;
	font-size: 22px;
	background-color: yellow;
	text-align: center;
}

#scoreboard {
	position: absolute;
	top: 90px;
	left: 630px;
	letter-spacing: 2px;
}

#won {
	width: 60px;
	/*top: 90px;*/
	left: 600px;
	display: inline-block;
}

#loss {
	width: 60px;
	display: inline-block;
	/*top: 90px;*/
	left: 790px;
}

#scoreboard h4 {
	display: inline-block;
	width: 60px;
}

#hintDisplay {
	width: 200px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 650px;
	background-color: rgb(244, 159, 124);
	text-align: center;
	border-radius: 5%;
	vertical-align: center;
	line-height: 50px;
}
